---
import CardProduto from "../../components/CardProduto.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { produto: "Bovinos" } },
    { params: { produto: "Aves" } },
    { params: { produto: "Peixes" } },
    { params: { produto: "Suinos" } },
  ];
}

const { produto } = Astro.params;
---

<Layout title={produto}>
  <section>
    <h2 class="text-4xl text-primary text-bold text-center">
      Confira nossa lista de {produto}!
    </h2>

    <ol class="grid grid-cols-3"></ol>
  </section>
</Layout>
