---
import { fade } from "astro:transitions";
import ProductIcons from "../ProductIcons.astro";

interface produtos {
  title: string;
}

const produtos = [
  "Bovino",
  "Frango",
  "Ovino",
  "Suino",
  "Peixe",
  "Vegetais",
  "Laticinios",
];
---

<section
  class="relative h-[70svh] flex flex-col items-center justify-center text-center text-white bg-black overflow-hidden"
>
  <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
    <video
      class="min-w-full min-h-full absolute object-cover"
      src="https://latinasul.s3.sa-east-1.amazonaws.com/video-capa-instintucional-latinasul.mp4"
      autoplay
      muted
      loop></video>
  </div>
  <div class="video-content space-y-2 z-10">
    <div
      class="transition duration-150 ease-out"
      transition:animate={fade({ duration: "0.8s" })}
    >
      <img
        src="/cuia-hero-white.svg"
        alt="Qualidade e excelência são nossa marca"
        class="w-[700px]"
      />
      <!-- <a class="btn btn-black mt-8" href="/produtos">Conheça Nossos Produtos</a> -->
    </div>
  </div>
</section>

<section class="bg-slate-100 w-full py-16">
  <div class="grid grid-cols-4 text-primary font-medium container mx-auto">
    <div class="flex flex-col items-center justify-center">
      <div class="size-12">
        <img src="/svg/icon-caminhao.svg" alt="Caminhao Icon" class="w-full" />
      </div>
      <p class="max-w-[150px] text-center font-semibold mt-4">
        Entregamos seu pedido com frota própria
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="size-12 border">
        <img src="/svg/icon-marcas.svg" alt="Marcas Icon" class="w-full" />
      </div>
      <p class="max-w-[150px] text-center font-semibold mt-4">
        Trabalhamos com as melhores marcas
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="size-12 border">
        <img src="/svg/icon-caixa.svg" alt="Caixa Icon" class="w-full" />
      </div>
      <p class="max-w-[200px] text-center font-semibold mt-4">
        Possuimos um espaço amplo para armazenamento
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="size-12 border">
        <img src="/svg/icon-folha.svg" alt="Folha Icon" class="w-full" />
      </div>
      <p class="max-w-[200px] text-center font-semibold mt-4">
        Contribuimos para a preservação do meio ambiente
      </p>
    </div>
  </div>
</section>

<section class="w-full py-16">
  <div class="text-primary font-medium container mx-auto flex flex-col gap-8">
    <h1 class="text-primary font-bold text-4xl">Produtos</h1>
    <p>Produto de qualidade e Selecionados</p>

    <div class="grid-cols-8 grid">
      {produtos.map((produto) => <ProductIcons title={produto} />)}
    </div>
  </div>
</section>

<section class="bg-primary text-white py-24 relative z-50">
  <div class="container mx-auto grid grid-cols-2 z-0">
    <div>
      <h2 class="text-4xl font-bold pb-24">Regiões atendidas</h2>
      <p class="text-3xl max-w-md">
        Atendemos mais de <span class="text-secondary font-semibold"
          >100 municípios
        </span> nas regiões da serra e metropolitana.
      </p>
    </div>

    <div class="">
      <img
        src="/svg/mapa-rs.svg"
        alt="Mapa do rio grande do sul"
        class="w-[388px] z-0"
      />
      <img
        src="/svg/caminhos.svg"
        alt="caminhos"
        class="absolute top-0 right-0 -z-50 w-[600px]"
      />
    </div>
  </div>
</section>

<style>
  .video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #003444d9;
    z-index: 1;
  }
</style>
