---
import NavHero from "../NavHero.astro";
import { fade } from "astro:transitions";
---

<div
  class="hero min-h-screen relative"
  style="background-image: url('bg-carnes.jpg');"
>
  <div class="hero-overlay bg-opacity-90 bg-black"></div>

  <NavHero />
  <div
    class="hero-content text-neutral-content text-center relative"
    transition:animate="slide"
  >
    <div
      class="transition duration-150 ease-out"
      transition:animate={fade({ duration: "0.8s" })}
    >
      <img
        src="/cuia-hero-white.svg"
        alt="Qualidade e excelência são nossa marca"
        class="w-[700px]"
      />
      <a class="btn btn-accent mt-8" href="/produtos">Conheça Nossos Produtos</a
      >
    </div>
  </div>
</div>
