---
import CardVantagem from "../CardVantagem.astro";

import iconCaminhao from "@assets/svg/icon-caminhao.svg";
import iconMarcas from "@assets/svg/icon-marcas.svg";
import iconCaixa from "@assets/svg/icon-caixa.svg";
import iconFolha from "@assets/svg/icon-folha.svg";

interface cardVantagemProps {
  iconUrl: ImageMetadata;
  description: string;
}

const listaVantagens: cardVantagemProps[] = [
  {
    iconUrl: iconCaminhao,
    description: "Entregamos seu pedido com frota própria",
  },
  {
    iconUrl: iconMarcas,
    description: "Trabalhamos com as melhores marcas",
  },
  {
    iconUrl: iconCaixa,
    description: "Possuimos um espaço amplo para armazenamento",
  },
  {
    iconUrl: iconFolha,
    description: "Contribuimos para a preservação do meio ambiente",
  },
];
---

<section class="bg-slate-100 w-full py-16">
  <div
    class="flex justify-between items-center flex-wrap text-primary font-medium container mx-auto"
  >
    {
      listaVantagens.map((vantagens) => (
        <CardVantagem
          iconUrl={vantagens.iconUrl}
          description={vantagens.description}
        />
      ))
    }
  </div>
</section>
