---
import CardVantagem from "@components/CardVantagem.astro";
import listaVantagens from "@data/vantagens";
---

<section class="bg-slate-100 w-full py-16">
  <div
    class="flex justify-between items-center flex-wrap text-primary font-medium container mx-auto gap-y-8 px-4 sm:px-0"
  >
    {
      listaVantagens.map((vantagens) => (
        <CardVantagem
          iconUrl={vantagens.iconUrl}
          description={vantagens.description}
        />
      ))
    }
  </div>
</section>
