---
import Layout from "../layouts/Layout.astro";
import CardCategoria from "../components/CardCategoria.astro";

import listaCategoria from "@data/categoria";
import CategoriaProduto from "../components/sections/CategoriaProduto.astro";

import PocketBase from "pocketbase";

const pb = new PocketBase(import.meta.env.PUBLIC_PB_API);

// you can also fetch all records at once via getFullList
const listaProdutos = await pb.collection("produtos").getFullList({
  sort: "-created",
});

console.log(listaProdutos);
---

<Layout title="Produtos - Latina Sul">
  <section class="bg-gray-100">
    <div class="bg-slate-200 min-h-[230px]">
      <h1 class="text-4xl text-center pt-8 uppercase text-primary font-bold">
        Confira nossos Produtos
      </h1>
    </div>

    <div class="container mx-auto">
      <div class="grid grid-cols-4 gap-5 -mt-28 px-80">
        {
          listaCategoria.map((categoria) => (
            <CardCategoria
              title={categoria.titulo}
              iconUrl={categoria.icon}
              description={categoria.titulo}
            />
          ))
        }
      </div>

      {
        listaCategoria.map((categoria) => {
          return <CategoriaProduto categoria={categoria} />;
        })
      }
    </div>
  </section>
</Layout>
