---
import Layout from "../layouts/Layout.astro";
import CardCategoria from "../components/CardCategoria.astro";

import listaProdutos from "@data/categoria";

// import PocketBase from "pocketbase";

// const pb = new PocketBase("https://pb.latinasuldistribuidora.com.br");
// const produtos = pb.collection("produtos");
// const listaProdutos = await produtos.getFullList();
---

<Layout title="Produtos - Latina Sul">
  <section class="container mx-auto py-36 px-6">
    <div>
      <h1 class="text-4xl font-bold text-center mb-8">Produtos</h1>
      <p>Escolha uma categoria para visualizar os produtos</p>
    </div>

    <div class="grid grid-cols-4 gap-5">
      {
        listaProdutos.map((produto) => (
          <CardCategoria
            title={produto.titulo}
            iconUrl={produto.icon}
            description={produto.titulo}
          />
        ))
      }
    </div>
  </section>
</Layout>
