---
import Layout from "../layouts/Layout.astro";
import CardProduto from "../components/CardProduto.astro";

import listaProdutos from "@data/produtos";
---

<Layout title="Produtos - Latina Sul">
  <section class="container mx-auto py-12 px-6">
    <h1 class="text-4xl font-bold text-center mb-8">Produtos</h1>
    <p>Escolha uma categoria para visualizar os produtos</p>

    <div class="grid grid-cols-4 gap-5">
      {
        listaProdutos.map((produto) => (
          <CardProduto
            title={produto.title}
            iconUrl={produto.iconUrl}
            description={produto.title}
          />
        ))
      }
    </div>
  </section>
</Layout>
