---
import Layout from "../layouts/Layout.astro";

import listaCategoria from "@data/categoria";
import CategoriaProduto from "../components/sections/CategoriaProduto.astro";
import ListaCartegoria from "../components/sections/ListaCartegoria.astro";

const listaCategoriaCortada = listaCategoria.filter((c) => {
  return c.titulo !== "Peixes";
});
---

<Layout title="Produtos - Latina Sul">
  <section class="bg-base-100">
    <div class="bg-slate-300 min-h-[230px]">
      <h1 class="text-3xl text-center pt-10 uppercase text-primary font-bold">
        Conheça nossos Produtos
      </h1>
    </div>

    <div
      class="container mx-auto -mt-28 lg:px-4 flex justify-center items-center"
    >
      <ListaCartegoria />
    </div>
  </section>
  <div class="container mx-auto">
    {
      listaCategoriaCortada.map((categoria) => {
        return <CategoriaProduto categoria={categoria} />;
      })
    }
  </div>
  <div class="divider"></div>
</Layout>
