---
import Layout from "../layouts/Layout.astro";
import CardCategoria from "../components/CardCategoria.astro";

import listaCategoria from "@data/categoria";
import CategoriaProduto from "../components/sections/CategoriaProduto.astro";

// import PocketBase from "pocketbase";

// const pb = new PocketBase("https://pb.latinasuldistribuidora.com.br");
// const produtos = pb.collection("produtos");
// const listaProdutos = await produtos.getFullList();
---

<Layout title="Produtos - Latina Sul">
  <section class="">
    <div class="bg-gray-200 min-h-[230px]"></div>
    <div class="container mx-auto">
      <div class="grid grid-cols-4 gap-5 -mt-28 px-80">
        {
          listaCategoria.map((categoria) => (
            <CardCategoria
              title={categoria.titulo}
              iconUrl={categoria.icon}
              description={categoria.titulo}
            />
          ))
        }
      </div>

      {
        listaCategoria.map((categoria) => {
          return <CategoriaProduto categoria={categoria} />;
        })
      }
    </div>
  </section>
</Layout>
