---
import Layout from "../layouts/Layout.astro";
import CardCategoria from "../components/CardCategoria.astro";

import listaCategoria from "@data/categoria";
import CategoriaProduto from "../components/sections/CategoriaProduto.astro";

const listaCategoriaCortada = listaCategoria.filter((c) => {
  return c.titulo !== "Peixes";
});
---

<Layout title="Produtos - Latina Sul">
  <section class="bg-base-100">
    <div class="bg-slate-300 min-h-[230px]">
      <h1 class="text-3xl text-center pt-10 uppercase text-primary font-bold">
        Conheça nossos Produtos
      </h1>
    </div>

    <div class="container mx-auto">
      <div
        class="grid grid-cols-2 lg:grid-cols-4 gap-1 -mt-28 xl:px-80 lg:px-4"
      >
        {
          listaCategoria.map((categoria) => (
            <CardCategoria
              title={categoria.titulo}
              iconUrl={categoria.icon}
              description={categoria.titulo}
            />
          ))
        }
      </div>

      {
        listaCategoriaCortada.map((categoria) => {
          return <CategoriaProduto categoria={categoria} />;
        })
      }
    </div>
  </section>
</Layout>
