---
import Layout from "../layouts/Layout.astro";
import CardCategoria from "../components/CardCategoria.astro";

import listaCategoria from "@data/categoria";
import CategoriaProduto from "../components/sections/CategoriaProduto.astro";

const listaCategoriaCortada = listaCategoria.filter((c) => {
  return (
    c.titulo === "Bovinos" || c.titulo === "Cordeiros" || c.titulo === "Suinos"
  );
});
---

<Layout title="Produtos - Latina Sul">
  <section class="bg-gray-100">
    <div class="bg-slate-300 min-h-[230px]">
      <h1 class="text-4xl text-center pt-8 uppercase text-primary font-bold">
        Confira nossos Produtos
      </h1>
    </div>

    <div class="container mx-auto">
      <div class="grid grid-cols-4 gap-5 -mt-28 px-80">
        {
          listaCategoria.map((categoria) => (
            <CardCategoria
              title={categoria.titulo}
              iconUrl={categoria.icon}
              description={categoria.titulo}
            />
          ))
        }
      </div>

      {
        listaCategoriaCortada.map((categoria) => {
          return <CategoriaProduto categoria={categoria} />;
        })
      }
    </div>
  </section>
</Layout>
