---
import Layout from "../layouts/Layout.astro";

const ano = "1993";
const empresa = "Latina Sul";
---

<Layout title="Quem Somos - Latina Sul">
  <section class="container mx-auto py-24 flex flex-col gap-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-24 place-items-center">
      <div class="bg-white flex flex-col gap-4 text-base">
        <div class="mb-4 -ml-2">
          <svg
            width="246"
            height="48"
            viewBox="0 0 246 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M38.504 35.384C36.7547 35.384 35.1227 35.096 33.608 34.52C32.1147 33.944 30.8133 33.1333 29.704 32.088C28.616 31.0427 27.7627 29.816 27.144 28.408C26.5467 27 26.248 25.464 26.248 23.8C26.248 22.136 26.5467 20.6 27.144 19.192C27.7627 17.784 28.6267 16.5573 29.736 15.512C30.8453 14.4667 32.1467 13.656 33.64 13.08C35.1333 12.504 36.7547 12.216 38.504 12.216C40.2747 12.216 41.896 12.504 43.368 13.08C44.8613 13.656 46.152 14.4667 47.24 15.512C48.3493 16.536 49.2133 17.752 49.832 19.16C50.4507 20.568 50.76 22.1147 50.76 23.8C50.76 25.464 50.4507 27.0107 49.832 28.44C49.2133 29.848 48.3493 31.0747 47.24 32.12C46.152 33.144 44.8613 33.944 43.368 34.52C41.896 35.096 40.2747 35.384 38.504 35.384ZM45.832 40.152C44.9573 40.152 44.1253 40.056 43.336 39.864C42.568 39.672 41.8 39.3627 41.032 38.936C40.2853 38.5093 39.496 37.9333 38.664 37.208C37.8533 36.4827 36.968 35.5867 36.008 34.52L41.448 33.144C42.024 33.9333 42.5573 34.5627 43.048 35.032C43.5387 35.5013 44.008 35.832 44.456 36.024C44.9253 36.216 45.416 36.312 45.928 36.312C47.2933 36.312 48.5093 35.7573 49.576 34.648L51.88 37.4C50.3653 39.2347 48.3493 40.152 45.832 40.152ZM38.504 30.968C39.5067 30.968 40.424 30.7973 41.256 30.456C42.1093 30.1147 42.856 29.624 43.496 28.984C44.136 28.344 44.6267 27.5867 44.968 26.712C45.3307 25.816 45.512 24.8453 45.512 23.8C45.512 22.7333 45.3307 21.7627 44.968 20.888C44.6267 20.0133 44.136 19.256 43.496 18.616C42.856 17.976 42.1093 17.4853 41.256 17.144C40.424 16.8027 39.5067 16.632 38.504 16.632C37.5013 16.632 36.5733 16.8027 35.72 17.144C34.8667 17.4853 34.12 17.976 33.48 18.616C32.8613 19.256 32.3707 20.0133 32.008 20.888C31.6667 21.7627 31.496 22.7333 31.496 23.8C31.496 24.8453 31.6667 25.816 32.008 26.712C32.3707 27.5867 32.8613 28.344 33.48 28.984C34.12 29.624 34.8667 30.1147 35.72 30.456C36.5733 30.7973 37.5013 30.968 38.504 30.968ZM61.568 35.256C60.1387 35.256 58.8587 34.9787 57.728 34.424C56.6187 33.8693 55.7547 33.0267 55.136 31.896C54.5173 30.744 54.208 29.2827 54.208 27.512V17.784H59.2V26.776C59.2 28.2053 59.4987 29.2613 60.096 29.944C60.7147 30.6053 61.5787 30.936 62.688 30.936C63.456 30.936 64.1387 30.776 64.736 30.456C65.3333 30.1147 65.8027 29.6027 66.144 28.92C66.4853 28.216 66.656 27.3413 66.656 26.296V17.784H71.648V35H66.912V30.264L67.776 31.64C67.2 32.8347 66.3467 33.7413 65.216 34.36C64.1067 34.9573 62.8907 35.256 61.568 35.256ZM84.8168 35.256C82.8541 35.256 81.1261 34.872 79.6328 34.104C78.1608 33.336 77.0194 32.2907 76.2088 30.968C75.3981 29.624 74.9928 28.0987 74.9928 26.392C74.9928 24.664 75.3874 23.1387 76.1768 21.816C76.9874 20.472 78.0861 19.4267 79.4728 18.68C80.8594 17.912 82.4274 17.528 84.1768 17.528C85.8621 17.528 87.3768 17.8907 88.7208 18.616C90.0861 19.32 91.1634 20.344 91.9528 21.688C92.7421 23.0107 93.1368 24.6 93.1368 26.456C93.1368 26.648 93.1261 26.872 93.1048 27.128C93.0834 27.3627 93.0621 27.5867 93.0408 27.8H79.0568V24.888H90.4167L88.4968 25.752C88.4968 24.856 88.3154 24.0773 87.9528 23.416C87.5901 22.7547 87.0888 22.2427 86.4488 21.88C85.8088 21.496 85.0621 21.304 84.2088 21.304C83.3554 21.304 82.5981 21.496 81.9368 21.88C81.2968 22.2427 80.7954 22.7653 80.4328 23.448C80.0701 24.1093 79.8888 24.8987 79.8888 25.816V26.584C79.8888 27.5227 80.0914 28.3547 80.4968 29.08C80.9234 29.784 81.5101 30.328 82.2568 30.712C83.0248 31.0747 83.9208 31.256 84.9448 31.256C85.8621 31.256 86.6621 31.1173 87.3448 30.84C88.0488 30.5627 88.6888 30.1467 89.2648 29.592L91.9208 32.472C91.1314 33.368 90.1394 34.0613 88.9448 34.552C87.7501 35.0213 86.3741 35.256 84.8168 35.256ZM118.508 17.528C119.874 17.528 121.079 17.8053 122.124 18.36C123.191 18.8933 124.023 19.7253 124.62 20.856C125.239 21.9653 125.548 23.3947 125.548 25.144V35H120.556V25.912C120.556 24.5253 120.268 23.5013 119.692 22.84C119.116 22.1787 118.306 21.848 117.26 21.848C116.535 21.848 115.884 22.0187 115.308 22.36C114.732 22.68 114.284 23.1707 113.964 23.832C113.644 24.4933 113.484 25.336 113.484 26.36V35H108.492V25.912C108.492 24.5253 108.204 23.5013 107.628 22.84C107.074 22.1787 106.274 21.848 105.228 21.848C104.503 21.848 103.852 22.0187 103.276 22.36C102.7 22.68 102.252 23.1707 101.932 23.832C101.612 24.4933 101.452 25.336 101.452 26.36V35H96.4603V17.784H101.228V22.488L100.332 21.112C100.93 19.9387 101.772 19.0533 102.86 18.456C103.97 17.8373 105.228 17.528 106.636 17.528C108.215 17.528 109.591 17.9333 110.764 18.744C111.959 19.5333 112.748 20.7493 113.132 22.392L111.372 21.912C111.948 20.568 112.866 19.5013 114.124 18.712C115.404 17.9227 116.866 17.528 118.508 17.528ZM144.877 35.256C143.405 35.256 141.987 35.0853 140.621 34.744C139.277 34.3813 138.211 33.9333 137.421 33.4L139.085 29.816C139.875 30.3067 140.803 30.712 141.869 31.032C142.957 31.3307 144.024 31.48 145.069 31.48C146.221 31.48 147.032 31.3413 147.501 31.064C147.992 30.7867 148.237 30.4027 148.237 29.912C148.237 29.5067 148.045 29.208 147.661 29.016C147.299 28.8027 146.808 28.6427 146.189 28.536C145.571 28.4293 144.888 28.3227 144.141 28.216C143.416 28.1093 142.68 27.9707 141.933 27.8C141.187 27.608 140.504 27.3307 139.885 26.968C139.267 26.6053 138.765 26.1147 138.381 25.496C138.019 24.8773 137.837 24.0773 137.837 23.096C137.837 22.008 138.147 21.048 138.765 20.216C139.405 19.384 140.323 18.7333 141.517 18.264C142.712 17.7733 144.141 17.528 145.805 17.528C146.979 17.528 148.173 17.656 149.389 17.912C150.605 18.168 151.619 18.5413 152.429 19.032L150.765 22.584C149.933 22.0933 149.091 21.7627 148.237 21.592C147.405 21.4 146.595 21.304 145.805 21.304C144.696 21.304 143.885 21.4533 143.373 21.752C142.861 22.0507 142.605 22.4347 142.605 22.904C142.605 23.3307 142.787 23.6507 143.149 23.864C143.533 24.0773 144.035 24.248 144.653 24.376C145.272 24.504 145.944 24.6213 146.669 24.728C147.416 24.8133 148.163 24.952 148.909 25.144C149.656 25.336 150.328 25.6133 150.925 25.976C151.544 26.3173 152.045 26.7973 152.429 27.416C152.813 28.0133 153.005 28.8027 153.005 29.784C153.005 30.8507 152.685 31.8 152.045 32.632C151.405 33.4427 150.477 34.0827 149.261 34.552C148.067 35.0213 146.605 35.256 144.877 35.256ZM164.277 35.256C162.443 35.256 160.811 34.872 159.381 34.104C157.973 33.336 156.853 32.2907 156.021 30.968C155.211 29.624 154.805 28.0987 154.805 26.392C154.805 24.664 155.211 23.1387 156.021 21.816C156.853 20.472 157.973 19.4267 159.381 18.68C160.811 17.912 162.443 17.528 164.277 17.528C166.091 17.528 167.712 17.912 169.141 18.68C170.571 19.4267 171.691 20.4613 172.501 21.784C173.312 23.1067 173.717 24.6427 173.717 26.392C173.717 28.0987 173.312 29.624 172.501 30.968C171.691 32.2907 170.571 33.336 169.141 34.104C167.712 34.872 166.091 35.256 164.277 35.256ZM164.277 31.16C165.109 31.16 165.856 30.968 166.517 30.584C167.179 30.2 167.701 29.656 168.085 28.952C168.469 28.2267 168.661 27.3733 168.661 26.392C168.661 25.3893 168.469 24.536 168.085 23.832C167.701 23.128 167.179 22.584 166.517 22.2C165.856 21.816 165.109 21.624 164.277 21.624C163.445 21.624 162.699 21.816 162.037 22.2C161.376 22.584 160.843 23.128 160.437 23.832C160.053 24.536 159.861 25.3893 159.861 26.392C159.861 27.3733 160.053 28.2267 160.437 28.952C160.843 29.656 161.376 30.2 162.037 30.584C162.699 30.968 163.445 31.16 164.277 31.16ZM199.102 17.528C200.467 17.528 201.673 17.8053 202.718 18.36C203.785 18.8933 204.617 19.7253 205.214 20.856C205.833 21.9653 206.142 23.3947 206.142 25.144V35H201.15V25.912C201.15 24.5253 200.862 23.5013 200.286 22.84C199.71 22.1787 198.899 21.848 197.854 21.848C197.129 21.848 196.478 22.0187 195.902 22.36C195.326 22.68 194.878 23.1707 194.558 23.832C194.238 24.4933 194.078 25.336 194.078 26.36V35H189.086V25.912C189.086 24.5253 188.798 23.5013 188.222 22.84C187.667 22.1787 186.867 21.848 185.822 21.848C185.097 21.848 184.446 22.0187 183.87 22.36C183.294 22.68 182.846 23.1707 182.526 23.832C182.206 24.4933 182.046 25.336 182.046 26.36V35H177.054V17.784H181.822V22.488L180.926 21.112C181.523 19.9387 182.366 19.0533 183.454 18.456C184.563 17.8373 185.822 17.528 187.23 17.528C188.809 17.528 190.185 17.9333 191.358 18.744C192.553 19.5333 193.342 20.7493 193.726 22.392L191.966 21.912C192.542 20.568 193.459 19.5013 194.718 18.712C195.998 17.9227 197.459 17.528 199.102 17.528ZM218.934 35.256C217.099 35.256 215.467 34.872 214.038 34.104C212.63 33.336 211.51 32.2907 210.678 30.968C209.867 29.624 209.462 28.0987 209.462 26.392C209.462 24.664 209.867 23.1387 210.678 21.816C211.51 20.472 212.63 19.4267 214.038 18.68C215.467 17.912 217.099 17.528 218.934 17.528C220.747 17.528 222.368 17.912 223.798 18.68C225.227 19.4267 226.347 20.4613 227.158 21.784C227.968 23.1067 228.374 24.6427 228.374 26.392C228.374 28.0987 227.968 29.624 227.158 30.968C226.347 32.2907 225.227 33.336 223.798 34.104C222.368 34.872 220.747 35.256 218.934 35.256ZM218.934 31.16C219.766 31.16 220.512 30.968 221.174 30.584C221.835 30.2 222.358 29.656 222.742 28.952C223.126 28.2267 223.318 27.3733 223.318 26.392C223.318 25.3893 223.126 24.536 222.742 23.832C222.358 23.128 221.835 22.584 221.174 22.2C220.512 21.816 219.766 21.624 218.934 21.624C218.102 21.624 217.355 21.816 216.694 22.2C216.032 22.584 215.499 23.128 215.094 23.832C214.71 24.536 214.518 25.3893 214.518 26.392C214.518 27.3733 214.71 28.2267 215.094 28.952C215.499 29.656 216.032 30.2 216.694 30.584C217.355 30.968 218.102 31.16 218.934 31.16ZM237.502 35.256C236.03 35.256 234.612 35.0853 233.246 34.744C231.902 34.3813 230.836 33.9333 230.046 33.4L231.71 29.816C232.5 30.3067 233.428 30.712 234.494 31.032C235.582 31.3307 236.649 31.48 237.694 31.48C238.846 31.48 239.657 31.3413 240.126 31.064C240.617 30.7867 240.862 30.4027 240.862 29.912C240.862 29.5067 240.67 29.208 240.286 29.016C239.924 28.8027 239.433 28.6427 238.814 28.536C238.196 28.4293 237.513 28.3227 236.766 28.216C236.041 28.1093 235.305 27.9707 234.558 27.8C233.812 27.608 233.129 27.3307 232.51 26.968C231.892 26.6053 231.39 26.1147 231.006 25.496C230.644 24.8773 230.462 24.0773 230.462 23.096C230.462 22.008 230.772 21.048 231.39 20.216C232.03 19.384 232.948 18.7333 234.142 18.264C235.337 17.7733 236.766 17.528 238.43 17.528C239.604 17.528 240.798 17.656 242.014 17.912C243.23 18.168 244.244 18.5413 245.054 19.032L243.39 22.584C242.558 22.0933 241.716 21.7627 240.862 21.592C240.03 21.4 239.22 21.304 238.43 21.304C237.321 21.304 236.51 21.4533 235.998 21.752C235.486 22.0507 235.23 22.4347 235.23 22.904C235.23 23.3307 235.412 23.6507 235.774 23.864C236.158 24.0773 236.66 24.248 237.278 24.376C237.897 24.504 238.569 24.6213 239.294 24.728C240.041 24.8133 240.788 24.952 241.534 25.144C242.281 25.336 242.953 25.6133 243.55 25.976C244.169 26.3173 244.67 26.7973 245.054 27.416C245.438 28.0133 245.63 28.8027 245.63 29.784C245.63 30.8507 245.31 31.8 244.67 32.632C244.03 33.4427 243.102 34.0827 241.886 34.552C240.692 35.0213 239.23 35.256 237.502 35.256Z"
              fill="#003B52"></path>
            <g filter="url(#filter0_i_0_1)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25 45.2136C19.2884 45.2745 15.0765 43.5231 12.1155 41.0674C9.07856 38.5484 7.34171 35.2837 6.64814 32.4825C6.43546 31.6296 6.32366 30.8343 6.2982 30.1299C6.15779 25.481 7.68632 22.9207 9.1404 20.4885C10.603 18.0394 12.0039 15.7027 11.9911 11.788C11.9826 9.34736 10.9146 7.16788 9.40619 5.21619C8.74148 4.3592 8.00207 3.55516 7.24156 2.79272H25V0H0L2.74641 2.43629C4.26209 3.78319 5.94171 5.29478 7.19597 6.91953C8.36389 8.43209 9.19472 10.0675 9.19885 11.788C9.20734 14.9359 8.00207 16.9503 6.74272 19.0586C5.08541 21.8344 3.33983 24.7512 3.51007 30.2039C3.53554 31.1151 3.67716 32.1142 3.93034 33.1451C4.74396 36.4352 6.78103 40.2588 10.3285 43.2053C13.7486 46.0406 18.5548 48.0614 25 47.9986V45.2133V45.2136Z"
                fill="#EC651D"></path>
            </g>
            <defs>
              <filter
                id="filter0_i_0_1"
                x="0"
                y="0"
                width="25"
                height="52"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix>
                <feOffset dy="4"></feOffset>
                <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                <feComposite
                  in2="hardAlpha"
                  operator="arithmetic"
                  k2="-1"
                  k3="1"></feComposite>
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                ></feColorMatrix>
                <feBlend
                  mode="normal"
                  in2="shape"
                  result="effect1_innerShadow_0_1"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>

        <p class="text-gray-700">
          A Família Macieski atua há 30 anos no setor de carne resfriada. Um
          pequeno açougue marcou o início de uma trajetória que culminou na
          abertura da primeira churrascaria. Com a experiência adquirida, os
          filhos ingressaram na área comercial, focando na venda direta de carne
          resfriada para pequenos e médios estabelecimentos, além de
          supermercados. Hoje, a família conta com uma grande estrutura e busca
          ampliar a gama de produtos, sempre garantindo qualidade para um número
          crescente de clientes.
        </p>
        <p class="text-gray-700">
          Somos uma empresa especializada na distribuição de produtos
          alimentícios. Nosso foco está na distribuição de cortes selecionados,
          oferecendo um mix de carnes nobres bovinas, suínas e de frango. Nossa
          sede, localizada estrategicamente na região central de Esteio, nos
          proporciona mobilidade e uma logística eficaz, atuando em Porto
          Alegre, Grande Porto Alegre e parte da Serra Gaúcha. Atendemos tanto o
          varejo quanto o atacado, com uma equipe experiente e uma ampla linha
          de produtos.
        </p>
        <p class="text-gray-700">
          Nossa equipe de vendas externas e pós-venda está pronta para resolver
          problemas e proporcionar segurança e tranquilidade aos nossos
          clientes. Contamos com uma logística ágil e eficiente, que permite a
          entrega de produtos em até 72 horas, utilizando nossa frota própria de
          caminhões refrigerados e isotérmicos, garantindo a máxima qualidade
          dos produtos entregues.
        </p>
        <p class="text-gray-700">
          Somos uma distribuidora que valoriza a tradição e conta com fortes
          parcerias comerciais, sempre prontas para atender você!
        </p>
      </div>

      <video
        class="h-full w-full border border-slate-300"
        poster="/assets/logo.jpg"
        controls
        autoplay
      >
        <source
          src="https://latinasul.s3.sa-east-1.amazonaws.com/video-institucional-latinasul.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="grid lg:grid-cols-3 gap-x-8 container mx-auto">
      <div class="flex flex-col gap-4">
        <h3 class="text-3xl text-primary font-semibold">Missão</h3>
        <p class="max-w-sm">
          Atender com excelência às demandas dos clientes, com oferta de
          produtos e serviços que contribuam para a melhoria da qualidade de
          vida das pessoas, proporcionando uma gama vasta de produtos e
          agilidade na entrega aos seus clientes.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-3xl text-primary font-semibold">Visão</h3>
        <p class="max-w-sm">
          Ser a melhor distribuidora de Alimentos da região, com reconhecimento
          de nossos clientes e parceiros comerciais como sendo sinônimo de
          qualidade e confiabilidade no setor, atendendo com eficiência todos os
          clientes deste segmento nas nossas regiões de atuação.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-3xl text-primary font-semibold">Valores</h3>
        <p class="max-w-sm">
          Excelência em tudo o que faz, Comprometimento; Respeito às pessoas,
          etica. Só se consegue atingir a excelência através da ética, da
          credibilidade, do comprometimento e da inovação. Somos LatinaSul.
        </p>
      </div>
    </div>
  </section>
  <div class="divider"></div>
</Layout>
