---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sucesso">
  <section
    class="py-16 bg-primary text-white min-h-[50svh] grid place-items-center place-content-center"
  >
    <div class="mx-auto container flex flex-col gap-16">
      <h1 class="text-4xl text-white font-bold">
        Formulário enviado com sucesso!
      </h1>
      <p>
        Sua mensagem foi enviada para nós, entraremos em contato assim que
        possísvel.
      </p>

      <a href="/" class="text-secondary hover:underline font-semibold"
        >Voltar para home</a
      >
    </div>
  </section>
</Layout>
