---
import getImageFromPB from "@lib/utils/getImageFromPB";
import { Image } from "astro:assets";
const { id, titulo, ref, imagem, categoria } = Astro.props;

const imageSrc = getImageFromPB("produtos", id, imagem, false);
---

<div
  class="bg-base-100 border-2 border-gray-300 max-w-80 flex flex-col items-center"
>
  <figure class="w-60 h-80">
    <Image
      src={imageSrc}
      alt={`imagem de ${titulo}`}
      class="w-full h-full object-contain"
      width={240}
      height={320}
      loading="lazy"
    />
  </figure>

  <div class="card-body self-start">
    <h2 class="card-title text-primary text-2xl">
      {titulo}
    </h2>
    <p class="text-secondary">REF: {ref}</p>
  </div>
</div>
