---
import Navbar from "./Navbar.astro"
---

<div
  class="hero min-h-screen relative"
  style="background-image: url('bg-carnes.jpg');"
>
<Navbar />
  <div class="hero-overlay bg-opacity-90 bg-primary"></div>
  
  <div class="hero-content text-neutral-content text-center relative">
    
    <div class="">
      <!-- <h1 class="mb-5 text-5xl font-bold"><span class="">Qualidade</span> e <span class="">excelência</span> são nossa marca.</h1>
      <p class="mb-5">
        Trabalhamos a mais de 30 anos no setor de distribuição de Alimentos com um mix de produtos e agilidade na entrega. Clique no botão abaixo e conheça mais nossos produtos.
        </p> -->
        <img src="/cuia-hero-white.svg" alt="Qualidade e excelência são nossa marca" class="w-[700px]">
        <a class="btn mt-8" href="/produtos">Conheça Nossos Produtos</a>
      </div>
    </div>
  </div>

