---
import { Image } from "astro:assets";

const { title, iconUrl } = Astro.props;
---

<div class="space-y-4 flex gap-8 items-center">
  <Image src={iconUrl} alt=`Icone de  ${title}` class="size-24" />
  <p class="">{title}</p>
</div>
