---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

import Footer from "../components/sections/Footer.astro";
import Navbar from "../components/sections/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      html {
        background-color:;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }

      section div {
        display: block;
        transform: translateX(-100px);
        opacity: 0;
      }
    </style>
  </body>
</html>

<script>
  import { inView, animate } from "motion";

  inView("section", ({ target }) => {
    animate(
      target.querySelectorAll("div"),
      { opacity: [1], transform: "none" },
      { delay: 0.3, duration: 1, easing: [0.17, 0.55, 0.55, 1] }
    );
  });
</script>
